






<div class="card">
    <div class="card-header">
        <h1 class="card-title text-center mb-5"></h1>
        <p class="h4 text-center mb-3 text-secondary"></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-center text-muted"></li>
    </ul>
    <img class="img-custom" src="" alt="">
    <div class="card-body">
        <p class="card-text my-4 col-10 mx-auto"></p>
    </div>
</div>